//content

.fade-out {
  animation: fadeOut ease 1s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//step2 number dot animation
.up {
  animation: upAni 1s;
}

@keyframes upAni {
  0% {
    margin-top: 400px;
  }
  100% {
    margin-top: 0px;
  }
}

.down {
  animation: downAni 1s;
}

@keyframes downAni {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 425px;
  }
}
